<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />

    <!-- Declara solo los paquetes que July puede abrir explícitamente -->
    <queries>
        <package android:name="com.android.settings" />
        <package android:name="com.android.dialer" />
        <package android:name="com.android.camera" />
        <package android:name="com.android.gallery3d" />
        <package android:name="com.google.android.apps.photos" />
        <package android:name="com.android.contacts" />
        <package android:name="com.android.mms" />
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.android.chrome" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.android.calendar" />
        <package android:name="com.android.calculator2" />
        <package android:name="com.whatsapp" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.facebook.lite" />
        <package android:name="com.facebook.mlite" />
        <package android:name="com.instagram.android" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.spotify.music" />
        <package android:name="org.telegram.messenger" />
        <!-- Variantes por fabricante -->
        <package android:name="com.google.android.dialer" />
        <package android:name="com.samsung.android.dialer" />
        <package android:name="com.huawei.contacts" />
        <package android:name="com.google.android.GoogleCamera" />
        <package android:name="com.huawei.camera" />
        <package android:name="com.huawei.photos" />
        <package android:name="com.google.android.apps.messaging" />
        <package android:name="com.google.android.contacts" />
        <package android:name="com.google.android.calculator" />
        <package android:name="com.huawei.calculator" />
        <package android:name="com.google.android.calendar" />
        <package android:name="com.huawei.calendar" />
    </queries>

    <application
        android:name=".JulyApplication"
        android:allowBackup="false"
        android:label="July"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.JulyOffline">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Disable GMS/Firebase background checks that cause "cycn" parsing errors -->
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <!-- FileProvider para compartir informes de seguridad -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

</manifest>
